body 
{
    text-align: center;
    color: blueviolet;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container
{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid black;
    margin: 0 auto;
    text-align: left;
}
.container h1 
{
    font-size: 20px;
    text-align: center;

}