body 
{
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container
{
    width: 70%;
    color: rgb(1, 37, 69);
    background: rgb(174, 178, 107);
    text-align: center;
    border: 1px solid black;
    margin:  auto;
    text-align: left;
    border-radius: 12px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 5px 0px rgba(122,121,148,1);
}
.titulo 
{
    font-size: 20px;
    border-radius: 12px 12px 0 0;
    color: rgb(1, 37, 69);
    text-align: center;
    border: 1px solid red;
    width: 100%;
    overflow: hidden;
    background: rgb(122, 122, 212);
}
.container__info
{
    margin: 10px 15px 10px;
}
